{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
    Meeting Planner
    </title>
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    
</head>


<body>

<h1>Welcome to the Meeting Planner</h1>
<p>You cna schedule meetings by booking rooms here. Source code: 
<a href="http://github.com/hkbiet">Github</a></p>

<p>

    Meetings : 
    
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                {{meeting.title}}</a>
            </li>
        {% endfor %}
    
    
    
    </ul>

</p>

<p>Create a new meeting: </br>

<a href="{% url 'new' %}">New Meeting</a>

</p>


</body>
</html>